:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --page-pc: 144rem;
  --page-mobile: 32rem;
  --font: "Outfit", sans-serif;
  --fs-body: 1.5rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--light-gray);
  font-family: var(--font);
  font-weight: 400;
  font-size: var(--fs-body);
  line-height: 1.2;
}

.qr-card {
  max-width: var(--page-mobile);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--white);
  border: 0.5rem solid var(--white);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem var(--light-gray);
}

.qr-card__img {
  max-width: 100%;
  border-radius: 1rem;
}

.qr-card figcaption {
  padding: 0 2rem;
}

.qr-card__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.qr-card__text {
  color: var(--grayish-blue);
  padding-bottom: 2rem;
}

.qr-footer {
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a:link,
.attribution a:visited {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
